*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-decoration: none;
}

.webstudio1{
    
    color: rgba(33, 150, 243, 1);
    
font-family: "Raleway", sans-serif;


}
header a
{
    
    color: black;
    
    
  
}
header{
    background-color: white;
}
.main1{
    background-color: rgba(47, 48, 58, 1);
    text-align: center;
    width: 1600px;
    height: 600px;

} 

.main3{
    background-color: rgba(245, 244, 250, 1);
    
}
footer{
    background-color:rgba(47, 48, 58, 1) ;
    color: white;
}
button[type=submit] {
    background-color:rgba(33, 150, 243, 1) ;
    border-radius: 4px;
    color: white;
}
.zagol{
    color: white;
} 
.linkfooter{
    color: white ;
}
a:hover{
    color: rgba(33, 150, 243, 1);
}